<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta name="description" content="" />
    <meta name="author" content="" />

    <title>Checkout | Jubeliness</title>

    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet" />
    <link
      rel="stylesheet"
      href="https://unpkg.com/swiper/swiper-bundle.min.css"
    />
    <link href="style/main.css" rel="stylesheet" />
  </head>

  <body>
    <!-- Preloader -->
    <div class="preloader">
      <div class="loading">
        <img src="images/loading.gif" width="80" alt="" />
        <p class="text-muted">Sedang Memuat</p>
      </div>
    </div>
    <!-- Akhir Preloader -->

    <!-- Navbar -->
    <div id="navbar">
      <nav
        class="navbar navbar-expand-lg bg-white d-none d-lg-block align-items-center navbar-light bg-light navbar-jubeliness fixed-top navbar-fixed-top"
      >
        <div class="container-fluid">
          <a class="navbar-brand" href="index.html">
            <img src="images/logo.png" width="70" alt="" />
          </a>
          <button
            class="navbar-toggler"
            type="button"
            data-toggle="collapse"
            data-target="#navbarNav"
            aria-controls="navbarNav"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav mr-2">
              <li class="nav-item active">
                <a class="nav-link" href="categories.html">Kategori</a>
              </li>
            </ul>
            <ul class="navbar-nav w-100 mx-2 position-relative">
              <form class="navbar-search d-none d-lg-flex">
                <div class="input-group">
                  <input
                    type="text"
                    class="form-control"
                    placeholder="Cari barang apa hari ini ?"
                    v-model="searchBarInput"
                  />
                  <div class="input-group-append">
                    <span class="input-group-text">
                      <img src="images/icon-search.svg" alt="" />
                    </span>
                  </div>
                </div>
              </form>
              <div
                class="search-bar-result position-absolute"
                v-if="searchBarInput"
              >
                <div class="card">
                  <div class="card-body overflow-auto">
                    <div class="result-search d-flex align-items-center">
                      <div class="search-icon-bar mr-3">
                        <img src="/images/search-icon.svg" width="20" alt="" />
                      </div>
                      <a href="" class="d-block">{{ searchBarInput }}</a>
                    </div>
                    <div class="result-search d-flex align-items-center">
                      <div class="search-icon-bar mr-3">
                        <img src="/images/search-icon.svg" width="20" alt="" />
                      </div>
                      <a href="" class="d-block">{{ searchBarInput }}</a>
                    </div>
                    <div class="result-search d-flex align-items-center">
                      <div class="search-icon-bar mr-3">
                        <img src="/images/search-icon.svg" width="20" alt="" />
                      </div>
                      <a href="" class="d-block">{{ searchBarInput }}</a>
                    </div>
                    <div class="result-search d-flex align-items-center">
                      <div class="search-icon-bar mr-3">
                        <img src="/images/search-icon.svg" width="20" alt="" />
                      </div>
                      <a href="" class="d-block">{{ searchBarInput }}</a>
                    </div>
                    <div class="result-search d-flex align-items-center">
                      <div class="search-icon-bar mr-3">
                        <img src="/images/search-icon.svg" width="20" alt="" />
                      </div>
                      <a href="" class="d-block">{{ searchBarInput }}</a>
                    </div>
                  </div>
                </div>
              </div>
            </ul>
            <ul class="navbar-nav ml-3 d-none d-lg-flex">
              <li class="nav-item">
                <a
                  class="nav-link position-relative hover-cart-dropdown"
                  href="cart.html"
                >
                  <img src="images/cart-fill.svg" alt="" />
                  <div class="cart-badge position-absolute">7</div>
                </a>
              </li>
              <li class="nav-item ml-3">
                <a class="nav-link" href="#">
                  <img src="images/notification.svg" alt="" />
                </a>
              </li>
              <li class="nav-item ml-3">
                <a class="btn btn-outline-dark px-4 py-2" href="#">Daftar</a>
              </li>
              <li class="nav-item ml-3">
                <a class="btn btn-dark px-4 py-2" href="#">Masuk</a>
              </li>
            </ul>
          </div>
          <div class="dropdown-cart position-absolute">
            <a href="cart.html" class="cart-container">
              <div class="card">
                <div class="card-body">
                  <div class="row">
                    <div class="col-12">
                      <div class="total-cart mb-2">Total (2)</div>
                    </div>
                  </div>
                  <a href="details.html" class="cart-product-detail">
                    <div class="row">
                      <div class="col-2">
                        <img
                          src="/images/product-1.jpg"
                          class="w-100 h-100"
                          alt=""
                        />
                      </div>
                      <div class="col-6">
                        <div class="cart-product-name">Buku Startup $100</div>
                        <div class="cart-count-product">1 Barang</div>
                      </div>
                      <div class="col-4">
                        <div class="cart-product-price">Rp 100.000</div>
                      </div>
                    </div>
                  </a>
                  <a href="details.html" class="cart-product-detail">
                    <div class="row">
                      <div class="col-2">
                        <img
                          src="/images/product-2.jpg"
                          class="w-100 h-100"
                          alt=""
                        />
                      </div>
                      <div class="col-6">
                        <div class="cart-product-name">Pulpen Pelangi</div>
                        <div class="cart-count-product">1 Barang</div>
                      </div>
                      <div class="col-4">
                        <div class="cart-product-price">Rp 30.000</div>
                      </div>
                    </div>
                  </a>
                </div>
              </div>
            </a>
          </div>
        </div>
      </nav>

      <!-- navbar-mobile -->
      <nav
        class="navbar-jubeliness-mobile d-flex d-lg-none justify-content-between align-items-center"
      >
        <a href="/index.html" class="navbar-brand">
          <img src="/images/logo.png" alt="" />
        </a>
        <div class="navbar-mobile-search position-relative">
          <form class="navbar-search">
            <div class="input-group">
              <input
                type="text"
                class="form-control"
                placeholder="Cari barang apa hari ini ?"
                v-model="searchBarInput"
              />
              <div class="input-group-append">
                <span class="input-group-text">
                  <img src="images/icon-search.svg" alt="" />
                </span>
              </div>
            </div>
          </form>
          <div
            class="search-bar-result position-absolute"
            v-if="searchBarInput"
          >
            <div class="card">
              <div class="card-body overflow-auto">
                <div class="result-search d-flex align-items-center">
                  <div class="search-icon-bar mr-3">
                    <img src="/images/search-icon.svg" width="20" alt="" />
                  </div>
                  <a href="" class="d-block">{{ searchBarInput }}</a>
                </div>
                <div class="result-search d-flex align-items-center">
                  <div class="search-icon-bar mr-3">
                    <img src="/images/search-icon.svg" width="20" alt="" />
                  </div>
                  <a href="" class="d-block">{{ searchBarInput }}</a>
                </div>
                <div class="result-search d-flex align-items-center">
                  <div class="search-icon-bar mr-3">
                    <img src="/images/search-icon.svg" width="20" alt="" />
                  </div>
                  <a href="" class="d-block">{{ searchBarInput }}</a>
                </div>
                <div class="result-search d-flex align-items-center">
                  <div class="search-icon-bar mr-3">
                    <img src="/images/search-icon.svg" width="20" alt="" />
                  </div>
                  <a href="" class="d-block">{{ searchBarInput }}</a>
                </div>
                <div class="result-search d-flex align-items-center">
                  <div class="search-icon-bar mr-3">
                    <img src="/images/search-icon.svg" width="20" alt="" />
                  </div>
                  <a href="" class="d-block">{{ searchBarInput }}</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </nav>
    </div>
    <!-- Akhit Navbar -->

    <!-- bottom-navigasi -->
    <nav
      class="navbar-jubeliness-bottom bg-dark d-flex d-lg-none fixed-bottom justify-content-around align-items-center text-center"
    >
      <a href="#" class="nav-list nav-home" style="color: orange !important">
        <div class="thumbnail-icon mb-2">
          <i class="bi bi-house"></i>
        </div>
        <p class="text-muted" style="color: orange !important">Home</p>
      </div>
      </a>
      <a href="#" class="nav-list nav-apps">
        <div class="thumbnail-icon mb-2">
          <i class="bi bi-app-indicator"></i>
        </div>
        <p class="text-muted">Apps</p>
      </div>
      </a>
      <a href="#" class="nav-list nav-kategori">
        <div class="thumbnail-icon mb-2">
          <i class="bi bi-list-ul"></i>
        </div>
        <p class="text-muted">Kategori</p>
      </div>
      </a>
      <a href="#" class="nav-list nav-cart">
        <div class="thumbnail-icon mb-2">
          <i class="bi bi-cart"></i>
        </div>
        <p class="text-muted">Keranjang</p>
      </div>
      </a>
      <a href="#" class="nav-list nav-akun">
        <div class="thumbnail-icon mb-2">
          <i class="bi bi-person"></i>
        </div>
        <p class="text-muted">Akun</p>
      </div>
      </a>
    </nav>
    <!-- akhir bottom-navigasi -->

    <!-- Page content -->
    <div class="page-content page-checkout">
      <!-- checkout detail -->
      <section class="checkout-details" id="checkout-details">
        <div class="container">
          <div class="row">
            <div class="col-12">
              <h4 class="mb-1">Checkout</h4>
              <div class="text-muted">Yuk checkout barang kamu</div>
            </div>
          </div>
          <div class="row mt-4">
            <div class="col-lg-8">
              <div class="card">
                <div class="card-body">
                  <div class="rekening-information">
                    <h6>Kirim ke rekening ini</h6>
                    <div class="rekening-card">
                      <div class="row">
                        <div class="col-md-6 mb-3 mb-lg-0">
                          <div class="card">
                            <div class="card-body">
                              <div class="row align-items-center">
                                <div class="col-4">
                                  <img
                                    src="images/rekening-img.png"
                                    class="w-100"
                                    alt=""
                                  />
                                </div>
                                <div class="col-6">
                                  <div class="rekening-owner">Jakob Botosh</div>
                                  <div class="rekening-number">
                                    098987899876
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="col-md-6">
                          <div class="card">
                            <div class="card-body">
                              <div class="row align-items-center">
                                <div class="col-4">
                                  <img
                                    src="images/rekening-img.png"
                                    class="w-100"
                                    alt=""
                                  />
                                </div>
                                <div class="col-6">
                                  <div class="rekening-owner">Masayashi</div>
                                  <div class="rekening-number">
                                    098987899876
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <hr />
                  <div class="shipping-details">
                    <h6>Shipping Address</h6>
                    <div class="shipping-name">Midun Van Jok</div>
                    <div class="shipping-phone">098987876567</div>
                    <p class="shipping-address text-muted">
                      Jln. H. Sanusi, Kecamatan Cengkareng, Kota Jakarta Barat,
                      Daerah Khusus Ibukota Jakarta, 11750
                    </p>
                  </div>
                  <hr />
                  <div class="product-checkout">
                    <div class="table-responsive">
                      <table class="table table-striped w-100">
                        <thead>
                          <tr>
                            <th>#</th>
                            <th>Nama Barang</th>
                            <th>Harga</th>
                            <th>Jumlah</th>
                            <th>Subtotal</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <td>1</td>
                            <td>Buku Startup $100</td>
                            <td>Rp 100.000</td>
                            <td>1</td>
                            <td>Rp 100.000</td>
                          </tr>
                          <tr>
                            <td>2</td>
                            <td>Pulpen Pelangi</td>
                            <td>Rp 30.000</td>
                            <td>2</td>
                            <td>Rp 60.000</td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-4">
              <div
                class="card"
                style="box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.07)"
              >
                <div class="card-body">
                  <h6>Payment Information</h6>
                  <div class="payment-details">
                    <div
                      class="count-product d-flex justify-content-between mb-2"
                    >
                      <div class="text-muted">Total Harga</div>
                      <div class="price">Rp. 500.000</div>
                    </div>
                    <div class="shipping d-flex justify-content-between mb-2">
                      <div class="text-muted">Total Harga</div>
                      <div class="shipping-price">Rp. 5.000</div>
                    </div>
                    <div class="courier d-flex justify-content-between mb-2">
                      <div class="text-muted">kurir</div>
                      <div class="courier-name">Gojek</div>
                    </div>
                  </div>
                  <hr />
                  <div
                    class="grand-total d-flex justify-content-between mb-4 align-items-center"
                  >
                    <h6 class="mb-0">Grand Total</h6>
                    <div class="grand-total-price">Rp. 505.000</div>
                  </div>
                  <a href="" class="btn btn-dark px-4 py-2 btn-block"
                    >Konfirmasi Pesanan</a
                  >
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- akhir checkout detail -->
    </div>

    <!-- Footer -->
    <footer>
      <div class="container">
        <div class="row justify-content-between pb-4">
          <div class="col-md-3">
            <img src="/images/logo.png" class="logo-footer" alt="" />
            <p>Lorem Ipsum Sit amet mamang samlekum</p>
          </div>
          <div class="col-md-7">
            <div class="row">
              <div class="col-md-4">
                <h5 class="mt-4 mt-lg-0">Jubeliness</h5>
                <ul>
                  <li><a href="">About</a></li>
                  <li><a href="">Tata Cara Order</a></li>
                  <li><a href="">Kebijakan Privasi</a></li>
                </ul>
              </div>
              <div class="col-md-4">
                <h5 class="mt-4 mt-lg-0">Explore</h5>
                <ul>
                  <li><a href="">Donasi Bersama</a></li>
                  <li><a href="">Contact Us</a></li>
                </ul>
              </div>
              <div class="col-md-4">
                <h5 class="mt-4 mt-lg-0">Social Media</h5>
                <ul>
                  <li><a href="">Instagram</a></li>
                  <li><a href="">Facebook</a></li>
                  <li><a href="">Twitter</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="row text-center">
          <div class="col-12">
            <p class="copyright">
              &copy; 2020 - 2021 Jubeliness • All rights reserved • Love from
              Jakarta
            </p>
          </div>
        </div>
      </div>
    </footer>
    <!-- Akhir footer -->

    <!-- Bootstrap core JavaScript -->
    <script src="/vendor/jquery/jquery.min.js"></script>
    <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script>
      AOS.init();
    </script>
    <script src="/vendor/vue/vue.js"></script>
    <script>
      var navbar = new Vue({
        el: "#navbar",
        mounted() {
          AOS.init();
        },
        data: {
          searchBarInput: "",
        },
        methods: {
          showSearchBar: function () {},
        },
      });
    </script>
    <script src="script/navbar-scroll.js"></script>
    <script src="script/dropdown.js"></script>
    <script src="script/preloader.js"></script>
  </body>
</html>
