<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta name="description" content="" />
    <meta name="author" content="" />

    <title>Detail | Jubeliness</title>

    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet" />
    <link
      rel="stylesheet"
      href="https://unpkg.com/swiper/swiper-bundle.min.css"
    />
    <link href="style/main.css" rel="stylesheet" />
  </head>

  <body>
    <!-- Navbar -->
    <nav
      class="navbar navbar-expand-lg bg-transparent navbar-light bg-light navbar-jubeliness fixed-top navbar-fixed-top"
    >
      <div class="container-fluid">
        <a class="navbar-brand" href="index.html">
          <img src="images/logo.png" width="70" alt="" />
        </a>
        <button
          class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target="#navbarNav"
          aria-controls="navbarNav"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav mr-2">
            <li class="nav-item active">
              <a class="nav-link" href="categories.html">Produk</a>
            </li>
          </ul>
          <ul class="navbar-nav w-100 mx-2">
            <form class="navbar-search d-none d-lg-flex">
              <div class="input-group">
                <input
                  type="text"
                  class="form-control"
                  placeholder="Cari barang apa hari ini ?"
                />
                <div class="input-group-append">
                  <span class="input-group-text">
                    <img src="images/icon-search.svg" alt="" />
                  </span>
                </div>
              </div>
            </form>
          </ul>
          <ul class="navbar-nav ml-3 d-none d-lg-flex">
            <li class="nav-item">
              <a
                class="nav-link position-relative hover-cart-dropdown"
                href="cart.html"
              >
                <img src="images/cart-fill.svg" alt="" />
                <div class="cart-badge position-absolute">7</div>
              </a>
            </li>
            <li class="nav-item ml-3">
              <a class="nav-link" href="#">
                <img src="images/notification.svg" alt="" />
              </a>
            </li>
            <li class="nav-item ml-3">
              <a class="btn btn-outline-dark px-4 py-2" href="#">Daftar</a>
            </li>
            <li class="nav-item ml-3">
              <a class="btn btn-dark px-4 py-2" href="#">Masuk</a>
            </li>
          </ul>

          <!-- mobile version -->
          <ul class="navbar-nav d-block d-lg-none">
            <li class="nav-item">
              <a class="nav-link position-relative" href="cart.html">
                Cart
                <div class="cart-badge position-absolute">7</div>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#"> Notification </a>
            </li>
            <form class="navbar-search w-100 d-flex d-lg-none mb-3">
              <div class="input-group">
                <input
                  type="text"
                  class="form-control"
                  placeholder="Cari barang apa hari ini ?"
                />
                <div class="input-group-append">
                  <span class="input-group-text">
                    <img src="images/icon-search.svg" alt="" />
                  </span>
                </div>
              </div>
            </form>
            <li class="nav-item">
              <a class="btn btn-outline-dark btn-block px-4 py-2 mb-2" href="#"
                >Daftar</a
              >
            </li>
            <li class="nav-item">
              <a class="btn btn-dark btn-block px-4 py-2" href="#">Masuk</a>
            </li>
          </ul>
        </div>
        <div class="dropdown-cart position-absolute">
          <a href="cart.html" class="cart-container">
            <div class="card">
              <div class="card-body">
                <div class="row">
                  <div class="col-12">
                    <div class="total-cart mb-2">Total (2)</div>
                  </div>
                </div>
                <a href="details.html" class="cart-product-detail">
                  <div class="row">
                    <div class="col-2">
                      <img
                        src="/images/product-1.jpg"
                        class="w-100 h-100"
                        alt=""
                      />
                    </div>
                    <div class="col-6">
                      <div class="cart-product-name">Buku Startup $100</div>
                      <div class="cart-count-product">1 Barang</div>
                    </div>
                    <div class="col-4">
                      <div class="cart-product-price">Rp 100.000</div>
                    </div>
                  </div>
                </a>
                <a href="details.html" class="cart-product-detail">
                  <div class="row">
                    <div class="col-2">
                      <img
                        src="/images/product-2.jpg"
                        class="w-100 h-100"
                        alt=""
                      />
                    </div>
                    <div class="col-6">
                      <div class="cart-product-name">Pulpen Pelangi</div>
                      <div class="cart-count-product">1 Barang</div>
                    </div>
                    <div class="col-4">
                      <div class="cart-product-price">Rp 30.000</div>
                    </div>
                  </div>
                </a>
              </div>
            </div>
          </a>
        </div>
      </div>
    </nav>
    <!-- Akhit Navbar -->

    <!-- Page content -->
    <div class="page-content page-details">
      <section class="breadcrumb-store" id="breadcrumb-store">
        <div class="container">
          <div class="col-12">
            <nav aria-label="breadcrumb">
              <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#">Home</a></li>
                <li class="breadcrumb-item active" aria-current="page">
                  Product Details
                </li>
              </ol>
            </nav>
          </div>
        </div>
      </section>

      <section class="store-gallery" id="gallery">
        <form action="cart.html">
          <div class="container">
            <div class="row">
              <div class="col-lg-5" data-aos="zoom-in">
                <transition name="slide-fade" mode="out-in">
                  <img
                    :src="photos[activePhoto].url"
                    :key="photos[activePhoto].id"
                    alt=""
                    class="thumbnail-image main-image w-100"
                  />
                </transition>
                <div class="row">
                  <div
                    class="col-3"
                    v-for="(photo, index) in photos"
                    :key="photo.id"
                  >
                    <a href="#" @mouseover="changeActive(index)">
                      <img
                        :src="photo.url"
                        class="w-100 thumbnail-image"
                        :class="{ active: index == activePhoto }"
                        alt=""
                      />
                    </a>
                  </div>
                </div>
              </div>
              <div class="col-lg-6">
                <h2>Pulpen Pelangi</h2>
                <p class="text-muted">Peralatan Tulis</p>
                <div class="product-price">Rp. 100.000</div>
                <div class="count d-flex mt-3">
                  <img
                    src="images/button-minus.png"
                    alt=""
                    v-if="counter > 0"
                    style="max-height: 25px"
                    @click="counterMinus()"
                  />
                  <img
                    src="images/button-minus.png"
                    alt=""
                    v-else
                    style="max-height: 25px"
                  />
                  <input
                    type="number"
                    name="count"
                    v-model="counter"
                    min="1"
                    :max="stock"
                    id="count"
                    style="width: 75px; font-size: 18px"
                    class="border-top-0 border-right-0 border-left-0 text-center"
                  />
                  <img
                    src="/images/button-plus.png"
                    style="max-height: 25px"
                    alt=""
                    v-if="counter < stock"
                    @click="counterPlus()"
                  />
                  <img
                    src="/images/button-plus.png"
                    style="max-height: 25px"
                    alt=""
                    v-else
                  />
                  <div class="count-stock ml-3">Stok {{ stock }}</div>
                </div>
                <p class="text-danger mt-2" v-if="counter <= 0">
                  This product's minimum quantity is 1 item(s)
                </p>
                <p class="text-danger mt-2" v-if="counter > stock">
                  Maximum quantity to purchase this item is {{ stock }}
                </p>
                <div
                  class="subtotal d-flex mt-4 align-items-center justify-content-between"
                >
                  <p class="text-muted m-0">Subtotal</p>
                  <div class="subtotal-price">
                    Rp {{ new Intl.NumberFormat().format(counter * price) }}
                  </div>
                </div>
                <button
                  type="submit"
                  class="btn btn-dark btn-addCart px-4 py-2 mt-3"
                  name="addToCart"
                  :disabled="counter <= 0 || counter > stock"
                >
                  + Keranjang
                </button>
              </div>
            </div>
            <div class="row mt-4">
              <div class="col-12">
                <h5>Detail Produk</h5>
              </div>
            </div>
            <div class="row">
              <div class="col-12 col-lg-8">
                <p class="description-product">
                  Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                  Velit non optio ratione fugiat odit soluta nesciunt quisquam
                  maiores natus explicabo? Minima modi quia placeat ducimus
                  doloremque eum, perspiciatis officiis reprehenderit?
                </p>
                <p class="description-product">
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae
                  assumenda excepturi exercitationem inventore odio tempore
                  veniam minus ipsa, temporibus fuga perferendis, aut eum?
                  Repellat, iste quae. Error esse repudiandae assumenda, modi
                  qui adipisci, distinctio voluptatum cupiditate dolorem dolorum
                  omnis. Id nihil unde saepe vero excepturi architecto dolores
                  incidunt. Voluptatibus, nobis?
                </p>
              </div>
            </div>
          </div>
        </form>
      </section>

      <section class="products-store mt-4" id="products-store">
        <div class="container">
          <div class="row">
            <div class="col-12 d-flex align-items-center">
              <h5>Produk Terkait</h5>
            </div>
          </div>
          <div class="row">
            <div class="col-6 col-lg-3">
              <a href="details.html" class="component-product">
                <div class="product-thumbnail">
                  <div
                    class="product-image"
                    style="background-image: url('images/product-1.jpg')"
                  ></div>
                </div>
                <div class="product-name">Buku Startup $100</div>
                <div class="product-price">Rp 100.000</div>
              </a>
            </div>
            <div class="col-6 col-lg-3">
              <a href="details.html" class="component-product">
                <div class="product-thumbnail">
                  <div
                    class="product-image"
                    style="background-image: url('images/product-2.jpg')"
                  ></div>
                </div>
                <div class="product-name">Pulpen Pelangi</div>
                <div class="product-price">Rp 30.000</div>
              </a>
            </div>
            <div class="col-6 col-lg-3">
              <a href="details.html" class="component-product">
                <div class="product-thumbnail">
                  <div
                    class="product-image"
                    style="background-image: url('images/product-3.jpg')"
                  ></div>
                </div>
                <div class="product-name">Penggaris Unique</div>
                <div class="product-price">Rp 60.000</div>
              </a>
            </div>
            <div class="col-6 col-lg-3">
              <a href="details.html" class="component-product">
                <div class="product-thumbnail">
                  <div
                    class="product-image"
                    style="background-image: url('images/product-4.jpg')"
                  ></div>
                </div>
                <div class="product-name">Bubuk Maketti</div>
                <div class="product-price">Rp 80.000</div>
              </a>
            </div>
            <div class="col-6 col-lg-3">
              <a href="details.html" class="component-product">
                <div class="product-thumbnail">
                  <div
                    class="product-image"
                    style="background-image: url('images/product-5.jpg')"
                  ></div>
                </div>
                <div class="product-name">Tatakan Gelas</div>
                <div class="product-price">Rp 50.000</div>
              </a>
            </div>
            <div class="col-6 col-lg-3">
              <a href="details.html" class="component-product">
                <div class="product-thumbnail">
                  <div
                    class="product-image"
                    style="background-image: url('images/product-6.jpg')"
                  ></div>
                </div>
                <div class="product-name">Stabilo Transparan</div>
                <div class="product-price">Rp 200.000</div>
              </a>
            </div>
            <div class="col-6 col-lg-3">
              <a href="details.html" class="component-product">
                <div class="product-thumbnail">
                  <div
                    class="product-image"
                    style="background-image: url('images/product-7.jpg')"
                  ></div>
                </div>
                <div class="product-name">Kopi Cinta</div>
                <div class="product-price">Rp 120.000</div>
              </a>
            </div>
            <div class="col-6 col-lg-3">
              <a href="details.html" class="component-product">
                <div class="product-thumbnail">
                  <div
                    class="product-image"
                    style="background-image: url('images/product-8.jpg')"
                  ></div>
                </div>
                <div class="product-name">Monkey Toys</div>
                <div class="product-price">Rp 300.000</div>
              </a>
            </div>
          </div>
        </div>
      </section>
    </div>
    <!-- Akhir page contant -->

    <!-- Footer -->
    <footer>
      <div class="container">
        <div class="row justify-content-between pb-4">
          <div class="col-md-3">
            <img src="/images/logo.png" class="logo-footer" alt="" />
            <p>Lorem Ipsum Sit amet mamang samlekum</p>
          </div>
          <div class="col-md-7">
            <div class="row">
              <div class="col-md-4">
                <h5 class="mt-4 mt-lg-0">Jubeliness</h5>
                <ul>
                  <li><a href="">About</a></li>
                  <li><a href="">Tata Cara Order</a></li>
                  <li><a href="">Kebijakan Privasi</a></li>
                </ul>
              </div>
              <div class="col-md-4">
                <h5 class="mt-4 mt-lg-0">Explore</h5>
                <ul>
                  <li><a href="">Donasi Bersama</a></li>
                  <li><a href="">Contact Us</a></li>
                </ul>
              </div>
              <div class="col-md-4">
                <h5 class="mt-4 mt-lg-0">Social Media</h5>
                <ul>
                  <li><a href="">Instagram</a></li>
                  <li><a href="">Facebook</a></li>
                  <li><a href="">Twitter</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="row text-center">
          <div class="col-12">
            <p class="copyright">
              &copy; 2020 - 2021 Jubeliness • All rights reserved • Love from
              Jakarta
            </p>
          </div>
        </div>
      </div>
    </footer>
    <!-- Akhir footer -->

    <!-- Bootstrap core JavaScript -->
    <script src="/vendor/jquery/jquery.slim.min.js"></script>
    <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script>
      AOS.init();
    </script>
    <script src="/vendor/vue/vue.js"></script>
    <script>
      var gallery = new Vue({
        el: "#gallery",
        mounted() {
          AOS.init();
        },
        data: {
          activePhoto: 1,
          photos: [
            {
              id: 1,
              url: "/images/detail-main.jpg",
            },
            {
              id: 2,
              url: "/images/detail-2.jpg",
            },
            {
              id: 3,
              url: "/images/detail-3.jpg",
            },
            {
              id: 4,
              url: "/images/detail-4.jpg",
            },
          ],
          stock: 20,
          price: 100000,
          counter: 1,
          // subtotal: this.price,
        },
        methods: {
          changeActive(id) {
            this.activePhoto = id;
          },
          counterPlus() {
            this.counter++;
          },
          counterMinus() {
            this.counter--;
          },
        },
      });
    </script>
    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
    <script src="script/navbar-scroll.js"></script>
    <script src="script/dropdown.js"></script>
  </body>
</html>
