<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />

    <title>Donasi | Jubeliness</title>

    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css" />
    <link href="style/main.css" rel="stylesheet" />
  </head>

  <body>
    <!-- Preloader -->
    <div class="preloader">
      <div class="loading">
        <img src="images/loading.gif" width="80" alt="" />
        <p class="text-muted">Sedang Memuat</p>
      </div>
    </div>
    <!-- Akhir Preloader -->

    <!-- Navbar -->
    <div id="navbar">
      <nav class="navbar navbar-expand-lg bg-white d-none d-lg-block align-items-center navbar-light bg-light navbar-jubeliness fixed-top navbar-fixed-top">
        <div class="container-fluid">
          <a class="navbar-brand" href="index.html">
            <img src="images/logo.png" width="70" alt="" />
          </a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav mr-2">
              <li class="nav-item active">
                <a class="nav-link" href="categories.html">Kategori</a>
              </li>
            </ul>
            <ul class="navbar-nav w-100 position-relative">
              <form class="navbar-search d-none d-lg-flex">
                <div class="input-group">
                  <input type="text" class="form-control" placeholder="Cari barang apa hari ini ?" v-model="searchBarInput" />
                  <div class="input-group-append">
                    <span class="input-group-text">
                      <img src="images/icon-search.svg" alt="" />
                    </span>
                  </div>
                </div>
              </form>
              <div class="search-bar-result position-absolute" v-if="searchBarInput">
                <div class="card">
                  <div class="card-body overflow-auto">
                    <div class="result-search d-flex align-items-center">
                      <div class="search-icon-bar mr-3">
                        <img src="/images/search-icon.svg" width="20" alt="" />
                      </div>
                      <a href="" class="d-block">{{ searchBarInput }}</a>
                    </div>
                    <div class="result-search d-flex align-items-center">
                      <div class="search-icon-bar mr-3">
                        <img src="/images/search-icon.svg" width="20" alt="" />
                      </div>
                      <a href="" class="d-block">{{ searchBarInput }}</a>
                    </div>
                    <div class="result-search d-flex align-items-center">
                      <div class="search-icon-bar mr-3">
                        <img src="/images/search-icon.svg" width="20" alt="" />
                      </div>
                      <a href="" class="d-block">{{ searchBarInput }}</a>
                    </div>
                    <div class="result-search d-flex align-items-center">
                      <div class="search-icon-bar mr-3">
                        <img src="/images/search-icon.svg" width="20" alt="" />
                      </div>
                      <a href="" class="d-block">{{ searchBarInput }}</a>
                    </div>
                    <div class="result-search d-flex align-items-center">
                      <div class="search-icon-bar mr-3">
                        <img src="/images/search-icon.svg" width="20" alt="" />
                      </div>
                      <a href="" class="d-block">{{ searchBarInput }}</a>
                    </div>
                  </div>
                </div>
              </div>
            </ul>
            <ul class="navbar-nav mx-2 d-none d-lg-flex">
              <li class="nav-item mx-2">
                <a class="nav-link position-relative hover-cart-dropdown" href="cart.html">
                  <img src="images/cart-fill.svg" alt="" />
                  <div class="cart-badge position-absolute">7</div>
                </a>
              </li>
              <li class="nav-item ml-3">
                <a class="btn btn-outline-dark px-4 py-2" href="register.html">Daftar</a>
              </li>
              <li class="nav-item ml-3">
                <a class="btn btn-dark px-4 py-2" href="login.html">Masuk</a>
              </li>
            </ul>
          </div>
          <div class="dropdown-cart position-absolute">
            <a href="cart.html" class="cart-container">
              <div class="card">
                <div class="card-body">
                  <div class="row">
                    <div class="col-12">
                      <div class="total-cart mb-2">Total (2)</div>
                    </div>
                  </div>
                  <a href="details.html" class="cart-product-detail">
                    <div class="row">
                      <div class="col-2">
                        <img src="/images/product-1.jpg" class="w-100 h-100" alt="" />
                      </div>
                      <div class="col-6">
                        <div class="cart-product-name">Buku Startup $100</div>
                        <div class="cart-count-product">1 Barang</div>
                      </div>
                      <div class="col-4">
                        <div class="cart-product-price">Rp 100.000</div>
                      </div>
                    </div>
                  </a>
                  <a href="details.html" class="cart-product-detail">
                    <div class="row">
                      <div class="col-2">
                        <img src="/images/product-2.jpg" class="w-100 h-100" alt="" />
                      </div>
                      <div class="col-6">
                        <div class="cart-product-name">Pulpen Pelangi</div>
                        <div class="cart-count-product">1 Barang</div>
                      </div>
                      <div class="col-4">
                        <div class="cart-product-price">Rp 30.000</div>
                      </div>
                    </div>
                  </a>
                </div>
              </div>
            </a>
          </div>
        </div>
      </nav>

      <!-- navbar-mobile -->
      <nav class="navbar-jubeliness-mobile navbar-fixed-top d-flex d-lg-none justify-content-between align-items-center">
        <a href="/index.html" class="navbar-brand">
          <img src="/images/logo-mobile.svg" alt="" />
        </a>
        <ul class="navigation-mobile">
          <li class="nav-item dropdown">
            <a href="#" class="nav-link" id="navbarDropdown" role="button" data-toggle="dropdown">
              <img src="/images/search-icon-black.svg" alt="" />
            </a>
            <div class="dropdown-menu dropdown-search p-3 shadow">
              <div class="navbar-mobile-search">
                <form class="navbar-search">
                  <div class="input-group">
                    <input type="text" class="form-control" placeholder="Cari barang apa hari ini ?" v-model="searchBarInput" />
                    <div class="input-group-append">
                      <span class="input-group-text">
                        <img src="images/icon-search.svg" alt="" />
                      </span>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link position-relative hover-cart-dropdown" href="cart.html">
              <img src="images/cart-fill.svg" alt="" />
              <div class="cart-badge position-absolute">7</div>
            </a>
          </li>
          <li class="nav-item dropdown">
            <a href="#" class="nav-link" id="navbarDropdown" role="button" data-toggle="dropdown">
              <img src="/images/user_pc.png" alt="profile" width="25" class="rounded-circle" />
            </a>
            <div class="dropdown-menu">
              <a href="order-list.html" class="dropdown-item">Purchase</a>
              <a href="settings.html" class="dropdown-item">Settings</a>
              <div class="dropdown-divider"></div>
              <a href="/" class="dropdown-item">logout</a>
            </div>
          </li>
        </ul>
      </nav>
    </div>
    <!-- Akhit Navbar -->

    <!-- Page content -->
    <div class="page-content page-donation">
      <!-- donation Banner -->
      <section class="donation-banner" style="background-color: #f8f8f8; padding: 5rem 0" id="donation-banner">
        <div class="container">
          <div class="row">
            <div class="col-lg-8 offset-lg-2 text-center">
              <h1 style="font-weight: 600">#GiftForKindness</h1>
              <p class="text-guide mt-3">
                Mari belanja di Jubeliness
                <br />
                hasil belanja kalian akan menjadi berkah
              </p>
            </div>
          </div>
        </div>
      </section>
      <!-- Akhir donation Banner -->

      <!-- Donation Result -->
      <section class="donation-result mt-5" id="donation-result">
        <div class="container">
          <div class="row text-center justify-content-center">
            <div class="col-lg-9">
              <img src="/images/gift.svg" width="250" alt="" />
              <div class="text-donation-result">Dana Terkumpul <span>Rp. 45.379.997,00</span> dari Rp. 500.000.000,00</div>
              <div class="progress">
                <div class="progress-bar progress-bar-striped progress-bar-animated bg-success" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 20%"></div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- Akhir Donation result -->

      <!-- kontribusi -->
      <section class="contribution" id="contribution">
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-8 col-lg-9">
              <h4>Bagaimana Cara Ikut kontribusi ?</h4>
            </div>
          </div>
          <div class="row justify-content-center mt-5">
            <div class="col-8 col-lg-9">
              <div class="row">
                <div class="col-lg-4 text-center mb-4">
                  <img src="/images/shopping.svg" width="200" height="130" alt="" />
                  <h6>Belanja Barang</h6>
                  <p>Belanja barang yang kamu suka di Jubeliness</p>
                </div>
                <div class="col-lg-4 text-center mb-4">
                  <img src="/images/donation.svg" width="200" height="130" alt="" />
                  <h6>Belanja Untuk Donasi</h6>
                  <p>setiap pembelian barang akan masuk sebagai donasi</p>
                </div>
                <div class="col-lg-4 text-center mb-4">
                  <img src="/images/success.svg" width="200" height="130" alt="" />
                  <h6>Berhasil untuk Donasi</h6>
                  <p>Kamu telah berhasil untuk mendukung program ini</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- Akhir kontribusi -->
    </div>
    <!-- Akhir page contant -->

    <!-- Footer -->
    <footer>
      <div class="container">
        <div class="row justify-content-between pb-4">
          <div class="col-md-3">
            <img src="/images/logo.png" class="logo-footer" alt="" />
            <p>Lorem Ipsum Sit amet mamang samlekum</p>
          </div>
          <div class="col-md-7">
            <div class="row">
              <div class="col-md-4">
                <h5 class="mt-4 mt-lg-0">Jubeliness</h5>
                <ul>
                  <li><a href="">About</a></li>
                  <li><a href="">Tata Cara Order</a></li>
                  <li><a href="">Kebijakan Privasi</a></li>
                </ul>
              </div>
              <div class="col-md-4">
                <h5 class="mt-4 mt-lg-0">Explore</h5>
                <ul>
                  <li><a href="">Donasi Bersama</a></li>
                  <li><a href="">Contact Us</a></li>
                </ul>
              </div>
              <div class="col-md-4">
                <h5 class="mt-4 mt-lg-0">Social Media</h5>
                <ul>
                  <li><a href="">Instagram</a></li>
                  <li><a href="">Facebook</a></li>
                  <li><a href="">Twitter</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="row text-center">
          <div class="col-12">
            <p class="copyright">&copy; 2020 - 2021 Jubeliness • All rights reserved • Love from Jakarta</p>
          </div>
        </div>
      </div>
    </footer>
    <!-- Akhir footer -->

    <!-- Bootstrap core JavaScript -->
    <script src="/vendor/jquery/jquery.min.js"></script>
    <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script>
      AOS.init();
    </script>
    <script src="/vendor/vue/vue.js"></script>
    <script>
      var navbar = new Vue({
        el: '#navbar',
        mounted() {
          AOS.init();
        },
        data: {
          searchBarInput: '',
        },
        methods: {
          showSearchBar: function () {},
        },
      });
    </script>
    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
    <script src="script/navbar-scroll.js"></script>
    <script src="script/dropdown.js"></script>
    <script src="script/swiper.js"></script>
    <script src="script/preloader.js"></script>
  </body>
</html>
