.navbar-jubeliness {
  .navbar-search {
    width: 100%;

    .input-group-text {
      background-color: #131921;
    }
  }

  .dropdown-cart {
    display: none;
    width: 400px;
    top: 80px;
    right: 150px;
    font-size: 16px;

    .cart-container {
      &:hover {
        text-decoration: none;
      }
      .total-cart {
        font-weight: 500;
        color: black;
      }
    }

    .cart-product-detail {
      display: block;
      border-top: 1px solid #e8e8e8;
      padding: 10px 0;
      &:hover {
        .cart-product-name {
          color: #29a867;
        }
        text-decoration: none;
      }
      .cart-count-product {
        font-size: 10px;
        color: black;
      }

      .cart-product-price {
        color: #ff7158;
        font-weight: 500;
      }

      .cart-product-name {
        font-weight: 500;
        color: black;
      }
    }
  }

  .dropdown-cart.hover {
    display: block;
    transition: all 1s ease-in-out;
  }

  // @include media-breakpoint-down(md) {
  //   .dropdown-menu {
  //     width: 150px;
  //   }
  // }

  .profile-picture {
    max-height: 30px;
  }

  .cart-badge {
    display: inline-block;
    min-width: 2em;
    padding: 0.3em;
    border-radius: 50%;
    font-size: 10px;
    text-align: center;
    background-color: #29a867;
    color: #fefefe;
    top: 2px;
    left: 20px;

    // @include media-breakpoint-down(md) {
    //   left: 40px;
    // }
  }
}

.search-bar-result {
  z-index: 10;
  top: 38px;
  left: 0;
  right: 0;

  .card {
    .card-body {
      max-height: 200px;
      padding: 0;

      .result-search {
        padding: 8px 10px;

        &:hover {
          background-color: rgb(240, 240, 240);
        }

        a {
          font-size: 14px;
          text-decoration: none;
          color: black;
        }
      }
    }
  }
}

.navbar-jubeliness-mobile {
  font-size: 14px;
  padding: 10px;
  background-color: white !important;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  .navbar-brand {
    max-width: 50px;
    max-height: 50px;
    margin-bottom: 10px;

    img {
      width: 100%;
      height: 100%;
    }
  }
  .navbar-mobile-search {
    width: 100%;

    .navbar-search {
      width: 100%;

      .input-group-text {
        background-color: #131921;
      }
    }
  }
}

.navbar-jubeliness-bottom {
  padding: 10px 5px;
  h5 {
    font-size: 14px;
  }
}

.navbar-fixed-top.scrolled {
  background-color: white !important;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
  transition: background-color 200ms linear;
}
