.chat-box {
  z-index: 999;
  width: 70px;
  height: 70px;
  background: #343a40;
  border-radius: 50%;
  color: #fff;
  position: fixed;
  right: 30px;
  bottom: 30px;
  transition: all 0.5s;

  img {
    height: 36px;
    margin-top: 15px;
  }

  &:hover {
    transition: all 0.5s;
    background: rgb(0, 0, 0);
    box-shadow: 10px 10px 44px 16px rgba(0, 0, 0, 0.3);
    bottom: 50px;
  }
}
