.page-details {
  padding-top: 90px;
  .store-gallery {
    margin-top: 20px;

    img {
      border-radius: 10px;
    }

    .thumbnail-image {
      margin-bottom: 20px;
      border: 2px solid transparent;

      &.main-image {
        max-height: 450px;
      }

      &:hover,
      &.active {
        border: 2px solid #ff7158;
      }
    }

    h2 {
      font-weight: normal;
      font-size: 24px;
      color: #0c0d36;
    }

    .product-price {
      font-weight: bold;
      font-size: 28px;
      line-height: 38px;

      color: #434343;
    }

    .subtotal {
      width: 300px;

      @include media-breakpoint-down(md) {
        width: 100%;
      }
      .subtotal-price {
        font-weight: 600;
        font-size: 24px;
        line-height: 33px;
        /* identical to box height */

        color: #2d2d2d;
      }
    }

    .btn-addCart {
      width: 300px;
      @include media-breakpoint-down(md) {
        width: 100%;
      }
    }

    .description-product {
      font-weight: normal;
      font-size: 16px;
      line-height: 180%;
      /* or 29px */

      color: #525252;
    }
  }
}
